#home {
    position: relative;
    background-size: cover;
    background: url("../../assets/bgIMG.png");
    background-repeat: repeat;
    background-position: center;

    .app__wrapper{
        padding: 0;

        .copyright {
        display: none;
    }
    }  
}
.app__header{
    width: 100%;
    height: 100%;
    flex: 1;
    flex-direction: row;
    padding: 6rem,2rem,0;

    @media  (min-width: 2000px) {
        padding-top: 8rem;
    }
    @media  (max-width: 1200px) {
        flex-direction: column;
    }
    @media  (max-width: 400px) {
        padding: 6rem 1rem 2rem;
    }
}
.app__header-info{
    flex: 0.65;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;

    @media  (max-width:2000px){
        margin-right: 0;
        width: 100%;
    }
}

.app__header-badge {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    .badge-cmp, .tag-cmp {
        padding: 1rem 2rem;
        border: white;
        border-radius: 15px;
        flex-direction: row;
        width: auto;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        
    }
    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;

        p{
            width: 100%;
            text-transform: uppercase;
            text-align:right;
        }
    }
    span {
        font-size: 2rem;
            @media (min-width: 2000px) {
                font-size: 2rem;
            }
    }
    @media (max-width:1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;

    div{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: white;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);

        img{
            width: 60%;
            height: 60%;
        }
    }
    div:nth-child(1){
        width: 100px;
        height: 100px;
    }
    div:nth-child(2){
        width:150px;
        height: 150px;
        margin: 1.75rem;
    }
    div:nth-child(3){
        width: 70px;
        height: 70px;
    }
    @media screen and (min-width: 2000px) {
        div:nth-child(1){
            width: 400px;
            height: 400px;
        }
        div:nth-child(2){
            width:170px;
            height: 170px;
        }
        div:nth-child(3){
            width: 200px;
            height: 200px;
        }
    }
    @media screen and (max-width: 1200px) {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        div {
            margin: 1rem;
        }
    }
}

.app__header-img {
    flex: 1;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;

    img {
        width: 100%;
        object-fit: contain;
        z-index: 1;
    }
    .overlay_circle {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 90%;
        z-index: 0;
    }
}